/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');

body {
    background-color: #EEEEEE;
    font-family: 'Raleway';
    font-weight: 400;
    color: #131516;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat';
    font-weight: 600;
    color: #3f51b5;
}

::ng-deep .mat-card {
    font-family: 'Raleway' !important;
}
.education{
    color: rgba(63, 81, 181, 0.8)
}

.mat-card-actions button{
    width: 46%;
    margin: 0 0 0 3% !important;

}

.marginLR10{
    margin: 0 10px;
}