<div class="container">
  <h1>Find a {{lookingFor}}</h1>
  <mat-form-field class="search">
      <input matInput placeholder="Search by name or location" [(ngModel)]="search">
  </mat-form-field>
  <ng-container *ngIf="lookingFor == 'sitter'">
  <div class="service-wrapper" *ngFor="let sitter of sitters | filterUsers: search">
    <p *ngIf="sitters.length == 0"> No sitters to display</p>
    <mat-card class="example-card" [routerLink]="['portal/service/sitter._id']">
        <img mat-card-image src="{{sitter.picture}}" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p class="education" *ngIf="sitter.education">{{sitter.education}}</p>
          <mat-card-title>{{sitter.firstName}} {{sitter.lastName}}</mat-card-title>
          <mat-card-subtitle>{{sitter.price}} DKK per hour</mat-card-subtitle>
          <p *ngIf="sitter.rating">{{sitter.rating}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button [routerLink]="['portal/service/sitter._id']" color="primary">BOOK</button>
        </mat-card-actions>
      </mat-card>
  </div>
  </ng-container>
  <ng-container *ngIf="lookingFor == 'job'">
        <p> No jobs to display</p>
      </ng-container>
</div>