<div class="container">
  <h1>Find a {{lookingFor}}</h1>

  <div class="service-wrapper" *ngFor="let sitter of sitters">
    <mat-card *ngIf="lookingFor == 'sitter'" class="example-card">
        <img mat-card-image src="{{sitter.picture}}" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p class="education" *ngIf="sitter.education">{{sitter.education}}</p>
          <mat-card-title>{{sitter.firstName}} {{sitter.lastName}}</mat-card-title>
          <mat-card-subtitle>{{sitter.price}} DKK per hour</mat-card-subtitle>
          <p *ngIf="sitter.rating">{{sitter.rating}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button routerLink="./../service/{{sitter._id}}">MORE INFO</button>
          <button mat-raised-button color="primary">BOOK</button>
        </mat-card-actions>
      </mat-card>
  </div>
</div>