<div class="wrapper">
    <mat-card *ngIf="user" class="login-card">
      <mat-card-header>
          <mat-card-title>Update your information</mat-card-title>
          <button mat-icon-button color="warn" (click)="deleteMe()">
              <mat-icon>delete</mat-icon>
          </button>
      </mat-card-header>
      <mat-card-content>
        <form novalidate [formGroup]="updateForm">
            <mat-form-field class="half-width">
                <input matInput placeholder="First Name" name="firstName" formControlName="firstName" type="text">
                <mat-error *ngIf="updateForm.controls.firstName.touched && updateForm.controls.firstName.errors?.required">
                  First name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="half-width">
                <input matInput placeholder="Last Name" name="lastName" formControlName="lastName" type="text">
                <mat-error *ngIf="updateForm.controls.lastName.touched && updateForm.controls.lastName.errors?.required">
                  Last name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="half-width">
              <input matInput placeholder="Email" name="email" formControlName="email" type="email">
              <mat-error *ngIf="updateForm.controls.email.touched && updateForm.controls.email.errors?.required">
                Email is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="updateForm.controls.email.touched && updateForm.controls.email.errors?.pattern">
                Please enter a valid email address
              </mat-error>
            </mat-form-field>
            <mat-form-field class="half-width">
                <input matInput placeholder="Birth date" name="birthDate" formControlName="birthDate" type="date">
                <mat-error *ngIf="updateForm.controls.birthDate.touched && updateForm.controls.birthDate.errors?.required">
                  Birth date is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="half-width">
                <select matNativeControl placeholder="Gender" name="gender" formControlName="gender">
                    <option value="">Choose gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                  </select>
            </mat-form-field>
            <mat-form-field class="half-width">
                <input matInput placeholder="Education" name="education" formControlName="education" type="text">
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput placeholder="Write something about yourself..." name="bio" formControlName="bio" type="textarea">
            </mat-form-field>
            <mat-form-field class="half-width">
                <input matInput placeholder="Phone number" name="phone" formControlName="phone" type="text">
            </mat-form-field>
            <mat-form-field class="half-width">
                <input matInput placeholder="Location" name="location" formControlName="location" type="text">
            </mat-form-field> 
            <mat-form-field class="half-width">
                <input matInput placeholder="Link to your picture" name="picture" formControlName="picture" type="text">
            </mat-form-field> 
             <mat-form-field class="half-width">
                <input matInput placeholder="Price per hour" name="price" formControlName="price" type="number">
                <span matSuffix>DKK</span>
            </mat-form-field> 
        </form> 
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="onSubmitUpdate()">SAVE CHANGES</button>
      </mat-card-actions>
    </mat-card>
  </div>