
.wrapper{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.login-card{
    width:600px;
}

::ng-deep .mat-form-field{
    padding: 8px 15px;
}

::ng-deep .mat-card-actions{
    padding: 0px 22px !important;
    margin-bottom: 0px !important;
}

::ng-deep .mat-card-header{
    display: inline-block;
    width: 90%;
    .mat-card-header-text{
        max-width: 100%;
    }
    button{
        float: right;
    }
}

.half-width{
    width:45%;
}

.full-width{
    width:90%;
    p{
        display: inline-block;
        margin: 15px;
    }
}


