<div class="wrapper">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Welcome to Find a Sitter</mat-card-title>
      <mat-card-subtitle>Create an account</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form novalidate [formGroup]="registerForm" (ngSubmit)="onSubmitLogin()" >
          <div class="full-width">
          <p>Register as a :</p>
            <mat-button-toggle-group name="role" id="role" formControlName="role">
              <mat-button-toggle value="sitter" id="sitter"> Sitter </mat-button-toggle>
              <mat-button-toggle value="parent"> Parent </mat-button-toggle>
              <mat-error *ngIf="registerForm.controls.role.touched && registerForm.controls.role.errors?.required">
                  Pick a role 
                </mat-error>
            </mat-button-toggle-group>
          </div>
          <mat-form-field class="half-width">
              <input matInput placeholder="First Name" name="firstName" id="firstname" formControlName="firstName" type="text">
              <mat-error *ngIf="registerForm.controls.firstName.touched && registerForm.controls.firstName.errors?.required">
                First name is <strong>required</strong>
              </mat-error>
          </mat-form-field>
          <mat-form-field class="half-width">
              <input matInput placeholder="Last Name" name="lastName" id="lastname" formControlName="lastName" type="text">
              <mat-error *ngIf="registerForm.controls.lastName.touched && registerForm.controls.lastName.errors?.required">
                Last name is <strong>required</strong>
              </mat-error>
          </mat-form-field>
          <mat-form-field class="half-width">
            <input matInput placeholder="Email" name="email" id="email" formControlName="email" type="email">
            <mat-error *ngIf="registerForm.controls.email.touched && registerForm.controls.email.errors?.required">
              Email is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="registerForm.controls.email.touched && registerForm.controls.email.errors?.pattern">
              Please enter a valid email address
            </mat-error>
          </mat-form-field>
          <mat-form-field class="half-width">
              <input matInput placeholder="Password" name="password" id="password" formControlName="password" type="password">
              <mat-error *ngIf="registerForm.controls.password.touched && registerForm.controls.password.errors?.required">
                Password is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="registerForm.controls.password.touched && registerForm.controls.password.errors?.minlength">
                Your password is too short
              </mat-error>
          </mat-form-field>
          <mat-form-field class="half-width">
              <input matInput placeholder="Birth date" name="birthDate"  id="birthdate" formControlName="birthDate" type="date">
              <mat-error *ngIf="registerForm.controls.birthDate.touched && registerForm.controls.birthDate.errors?.required">
                Birth date is <strong>required</strong>
              </mat-error>
          </mat-form-field>
          <mat-form-field class="half-width">
              <select matNativeControl placeholder="Gender" name="gender" id="gender" formControlName="gender">
                  <option value="">Choose gender</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                </select>
          </mat-form-field>
      </form> 
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" id="submitRegisterButton" (click)="onSubmitRegister()">REGISTER</button>
      <p><small>Already have an account? <a [routerLink]="['/home/login']">Log In!</a></small></p>
    </mat-card-actions>
  </mat-card>
</div>