<mat-card class="example-card">
  <img mat-card-image src="{{service.sitter.picture}}" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p class="education" *ngIf="service.sitter.education">{{service.sitter.education}}</p>
    <mat-card-title>{{service.sitter.firstName}} {{service.sitter.lastName}}</mat-card-title>
    <mat-card-subtitle>{{service.price}} DKK per hour</mat-card-subtitle>
    <p *ngIf="service.sitter.rating">{{service.sitter.rating}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button>MORE INFO</button>
    <button mat-raised-button color="primary">BOOK</button>
  </mat-card-actions>
</mat-card>