<div *ngIf="user" class="container">
  <h1>More information about {{user.firstName}} {{user.lastName}}</h1>

  <div class="service-wrapper row">
    <div class="col-md-8">
        <div class="marginLR10">
          <div class="service-info boxed row">
            <div class="image-container col-md-4">
              <img src="{{user.picture}}">
            </div>
            <div class="info-container col-md-8">
              <p class="mat-card-title name"> {{user.firstName}} {{user.lastName}}</p>
              <p class="education"> {{user.education}}</p>
              <p class=""> {{user.bio}}</p>
            </div>
          </div>
        </div>
    </div>
    <div class="service-booking boxed col-md-4">
        <div class="marginLR10">
          <app-booking [book]="user" [type]="type"></app-booking>
        </div>
    </div>
  </div>
</div>